trusted-dependencies=esbuild,sharp
shamefully-hoist=true
node-linker=hoisted
public-hoist-pattern[]=@tailwindcss/*
public-hoist-pattern[]=tailwindcss
public-hoist-pattern[]=@astrojs/*
public-hoist-pattern[]=astro
public-hoist-pattern[]=@iconify-json/*
public-hoist-pattern[]=astro-icon
public-hoist-pattern[]=embla-carousel
public-hoist-pattern[]=flowbite
public-hoist-pattern[]=typescript