trusted-dependencies[] = esbuild
trusted-dependencies[] = sharp
shamefully-hoist=true
node-linker=hoisted
public-hoist-pattern=[
  "@tailwindcss/*",
  "tailwindcss",
  "@astrojs/*",
  "astro",
  "@iconify-json/*",
  "astro-icon",
  "embla-carousel",
  "flowbite",
  "typescript"
]